body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black; /* Black background */
    color: white; /* White text for contrast */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-page, .game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 20px; /* Increased margin for bigger spacing */
    padding: 20px 40px; /* Bigger padding for larger buttons */
    font-size: 24px; /* Larger font size */
    color: white; /* White text */
    background-color: #333; /* Dark gray background for buttons */
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

    button:hover {
        background-color: #555; /* Lighter gray on hover */
    }

.game-page {
    display: none;
}
